.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;

    .add {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 30px;

        .new-task {
            border-color: rgb(200, 200, 200);
            border-style: solid;
            width: 100%;
            height: 40px;
        }

        .add-button {
            width: 20%;
            height: 46px;
            border-width: 1px;
            border-style: solid;
            background-color: rgb(200, 200, 200);
            border-color: rgb(200, 200, 200);
            word-wrap: break-word;
        }

        .add-button:hover {
            cursor: pointer;
            background-color: rgb(150, 150, 150);
        }

        .reset-button{
            background: none;
            border: none;
            color: rgb(200, 200, 200);
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .reset-button:hover{
            cursor: pointer;
            color: rgb(150, 150, 150);
        }
    }

    .list-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            -webkit-user-drag: none;
        }

        .tasks {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .task-general {
                position: relative;
                text-align: center;
                width: 100%;

                .task {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .task-main {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .buttons {
                            display: flex;
                            align-items: center;

                            .popup{
                                z-index: 999999;
                            }

                            .delete-button {
                                background: none;
                                border: none;

                                .delete{
                                    font-size: 24px;
                                }

                                .delete:hover{
                                    cursor: pointer;
                                }
                            }

                            .important-button {
                                background: none;
                                border: none;

                                .important {
                                    font-size: 24px;
                                }

                                .important:hover {
                                    cursor: pointer;

                                }
                            }

                            .important-button:hover{
                                cursor: pointer;
                            }

                            .done:hover{
                                cursor: pointer;
                            }
                        }
                    }

                    p {
                        font-size: 17px;
                    }

                    .p1 {
                        text-decoration: line-through;
                        background-color: rgba(255, 255, 0, 0.8);
                    }

                    .p2 {
                        text-decoration: none;
                        background-color: rgba(255, 255, 0, 0.8);;
                    }

                    .p3{
                        text-decoration: line-through;
                        background-color: none;
                    }

                    .p4{
                        text-decoration: none;
                        background-color: none;
                    }

                    input {
                        height: 22px;
                        width: 22px;
                    }

                    .cbox:hover {
                        cursor: pointer;
                        background-color: gray;
                    }
                }
            }

            hr {
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 3px solid #4e4949;
                border-bottom-right-radius: 100%;
                border-bottom-left-radius: 60%;
            }
        }
    }
}