.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 38, 167);
    width: 100%;
    height: 70px;

    p {
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 30px;
        color: #fff;
    }
}